<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission
        android:name="android.permission.FLASHLIGHT"
        android:permissionGroup="android.permission-group.HARDWARE_CONTROLS"
        android:protectionLevel="normal" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/sky_card_logo_foreground"
        android:label="SkyApp"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity android:name=".ViewCardActivity"></activity>
        <activity android:name=".PageNotFoundActivity" />
        <activity android:name=".ComingSoonActivity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".ShareCardsActivity" />
        <activity android:name=".SkyNetworkActivity" />
        <activity android:name=".SkyDailyActivity" />
        <activity android:name=".MyCardsActivity" />
        <activity android:name=".CardHolderActivity" />
        <activity android:name=".AddCardsActivity" />
        <activity android:name=".NotificationsActivity" />
        <activity android:name=".AddCardActivity" />
        <activity android:name=".CameraActivity" />
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SignUpActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>